<div class="bootstrap-wrapper backImage">
      <div class="container">
            <div class="row">
                  <div class="col-md-6 offset-md-3 text-center mt20">
                        <h3>Looking for a simple and efficient way to conduct exams online?</h3>
                        <h1>Meet your friend - <strong>Quiz Master</strong> </h1>
                        <h2>Online Exam and Quiz Portal</h2>
                  </div>
            </div>
      </div>

      <div class="container-fluid">
            <h1><i>About Online Examination System</i></h1>
            <p>The online exam system is the methodology used to examine student’s output for their skills and
                  abilities. The examination is the detailed inspection of the person’s knowledge or proficiency in a
                  subject or profession. Our Online exam software is also the set of questions to test students’
                  understanding of their abilities or aptitude or maybe physical fitness in any zone of their
                  qualifications using the internet and computers. </p>

            <p>Pupils compete with the same field batch mates. Exams are conducted on a piece of paper at the
                  particularly given center hall, and this has been the same from ancient times. But what if the
                  examination is more manageable and convenient to the students, according to their place and time.
                  However, the computer-based test software keeps on changing and evolving with the passing time.</p>

            <div class="row ml20">
                  <div class="col-md-4">
                        <h2>Why to use Quiz Master?</h2>
                        <ul style="text-align: justify">
                              <li>A secure, professional web-based testing platform</li>
                              <li>Offers an easy-to-use, online test maker for institutions</li>
                              <li>Instant grading and result publication saving hours of paperwork</li>
                              <li>Tests can be created based on category and subjects</li>
                              <li>Time-based quizzes comprising MCQs</li>
                              <li>24 * 7 support</li>
                        </ul>
                  </div>
                  <div class="col-md-4">
                        <h2>Getting Started... Students </h2>
                        <ul>
                              <li>If you are new to this portal, REGISTER yourself.</li>
                              <li>Login using your user credentials.</li>
                              <li>Search for the quiz assigned.</li>
                              <li>You can search quiz based on category and subject.</li>
                              <li>You can update your profile details as well.</li>
                              <li>Test can be started anywhere, anytime.</li>
                        </ul>
                  </div>
                  <div class="col-md-4">
                        <h2>Getting Started... Schools/Coachings</h2>
                        <ul>
                              <li>If you are new to this portal, REGISTER yourself.</li>
                              <li>Drop an email at <i>operations@quizmaster.com</i> for getting ADMIN access</li>
                              <li>Login using your user credentials.</li>
                              <li>Create a category under which quiz falls.</li>
                              <li>Create quiz in a certain category.</li>
                              <li>Add question in the quiz</li>
                              <li>Publish quiz so that students can appear.</li>
                        </ul>
                  </div>
            </div>
      </div>
      <h2 class="text-center" style="font-size: 23px;">Conducting Online Exams made Easier</h2>
</div>