
<mat-toolbar color="accent">
      <a routerLink="/" mat-icon-button >
            <mat-icon>auto_stories</mat-icon>
      </a>
      <span>Quiz Master</span>
      
      <span class="spacer"></span>

      <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-icon-button class="favourite-icon mr20"> 
            LOGIN
      </a>

      <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="favourite-icon ml10 mr20">
            REGISTER
      </a>

      <a (click)="logout()" *ngIf="isLoggedIn" mat-icon-button class="favourite-icon ml10 mr20"> 
            LOGOUT
      </a>

      <button *ngIf="isLoggedIn && user && isAdmin()" mat-icon-button class="favourite-icon ml20" mat-button [routerLink]="'/admin'">
            {{ user.username }} 
      </button>

      <button *ngIf="isLoggedIn && user && !isAdmin()" mat-icon-button class="favourite-icon ml20" mat-button [routerLink]="'/user-dashboard/0'">
            {{ user.username }} 
      </button>
      
</mat-toolbar>